.places h1{
    text-align: left;
    font-size: 30px;
}
.places .parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places .parent article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px outset #FF5A5F;
    border-radius: 4px;
}

.places .parent article h2{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

